---
import CardNotebook from "./CardNotebook.astro";

const notebooks = [
    {
        id: "mensual_semanal_diaria",
        name: "AGENDA MENSUAL, SEMANAL Y DIARIA",
        imagePath: "/thenotebookcorner.com/mensual_semanal_diaria.png",
        details:
            "Deja de procrastinar, optimiza tu tiempo y saca adelante tus \
            proyectos, tareas y hábitos con este Planificador Mensual, \
            Semanal y Diario sin fechas, para que puedas empezarlo cuando \
            quieras y tengas todo lo esencial en una sola libreta: \
            recordatorios, to do list, prioridades, etc.",
        amazonURL: "https://www.amazon.es/dp/B0CRRNP69G",
    },
    {
        id: "cuaderno_lecturas",
        name: "CUADERNO DE LECTURA: DIARIO DE REGISTRO DE LECTURAS",
        imagePath: "/thenotebookcorner.com/cuaderno_lecturas.png",
        details:
            "\“Solo un capítulo más....\" \
            Si esa es la mentira más repetida por tu mente cada vez que lees un buen libro.... este cuaderno de lecturas es para ti.",
        amazonURL: "https://www.amazon.es/dp/B0CRKX9N77",
    },
    {
        id: "cuaderno_lecturas_2",
        name: "CUADERNO DE LECTURA: MIS AVENTURAS LITERARIAS",
        imagePath: "/thenotebookcorner.com/cuaderno_lecturas_2.png",
        details:
            "\“Solo un capítulo más....\" \
            Si esa es la mentira más repetida por tu mente cada vez que lees un buen libro.... este cuaderno de lecturas es para ti.",
        amazonURL: "https://www.amazon.es/dp/B0BMJXR7Y1",
    },
    {
        id: "cuaderno_lectura",
        name: "CUADERNO DE LECTURA: MIS AVENTURAS LITERARIAS",
        imagePath: "/thenotebookcorner.com/cuaderno_lectura.png",
        details:
            "\“Solo un capítulo más....\" \
            Si esa es la mentira más repetida por tu mente cada vez que lees un buen libro.... este cuaderno de lecturas es para ti.",
        amazonURL: "https://www.amazon.es/dp/B0BLYL9D42",
    },
    {
        id: "cuaderno_lectura_2",
        name: "CUADERNO DE LECTURA: MIS AVENTURAS LITERARIAS",
        imagePath: "/thenotebookcorner.com/cuaderno_lectura_2.png",
        details:
            "\“Solo un capítulo más....\" \
            Si esa es la mentira más repetida por tu mente cada vez que lees un buen libro.... este cuaderno de lecturas es para ti.",
        amazonURL: "https://www.amazon.es/dp/B0BRLZX1L9",
    },
];

// console.log(notebooks);
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {
        notebooks.map((notebook) => (
            <CardNotebook
                id={notebook.id}
                name={notebook.name}
                imagePath={notebook.imagePath}
                details={notebook.details}
                amazonURL={notebook.amazonURL}
            />
        ))
    }
</div>
