---
import CardNotebook from "./CardNotebook.astro";

const notebooks = [
    {
        id: "journal",
        name: "Journal",
        imagePath: "/thenotebookcorner.com/reading_journal_1.jpg",
        details:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend sodales nibh, non porttitor urna tristique ac. Aliquam erat volutpat. Aenean sed arcu et orci.",
        amazonUri: "Button 1",
    },
    {
        id: "meeting",
        name: "Meeting Notes",
        imagePath: "/thenotebookcorner.com/reading_journal_2.jpg",
        details:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam diam erat, consectetur ut porta sed, sollicitudin sit amet massa. Nunc vitae suscipit dolor. Aliquam rhoncus.",
        amazonUri: "Button 1",
    },
];

// console.log(notebooks);
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {
        notebooks.map((notebook) => (
            <CardNotebook
                id={notebook.id}
                name={notebook.name}
                imagePath={notebook.imagePath}
                details={notebook.details}
                amazonUri={notebook.amazonUri}
            />
        ))
    }
</div>
